[submodule "themes/hugo-theme-anubis"]
	path = themes/hugo-theme-anubis
	url = https://github.com/Mitrichius/hugo-theme-anubis.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/Mitrichius/hugo-theme-anubis.git
